<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <div class="row">
                <div class="col-xs-6">
                    <a class='navbar-brand' [routerLink]="['/home']">Vega</a>
                </div>
                <div *ngIf="loggedIn" class="col-xs-6">
                    <a class='navbar-brand-login'>{{email}}</a>
                    <button class="btn btn-link btn-logout-link" (click)="logout()">Log out</button>
                </div>
                <div *ngIf="!loggedIn" class="col-xs-2 xs-offset-4">
                     <a class='navbar-brand-login' [routerLink]="['/login']">Log in</a>
                     <a class='navbar-brand-login' [routerLink]="['/register']">Sign up</a>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/vehicles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicle
                    </a>
                </li>
                <li *ngIf="loggedIn">
                    <a><span class='glyphicon glyphicon-th-list'></span> Dictionaries</a>
                    <ul class="nav navbar-nav">
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/makes/edit']">
                                <span class='glyphicon glyphicon-pencil'></span> Makes
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/features/edit']">
                                <span class='glyphicon glyphicon-pencil'></span> Features
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
