.text-edit {
    max-width: 200px;
}

.save-buttons-container {
    margin-top: 20px;
}

.add-button {
    margin-left: -15px;
}

.molels-header {
    margin-top: 20px;
}

.text-area {
    max-width: 400px;
}

.btn-delete {
    margin-top: 25px;
    margin-left: 25px;
}